body{
    @include dark-radial-gradient
}

// Components
.App{
    padding: 2em;

    // Play area button container
    .Play-area{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height:calc(100vh - 15em);
    }

    // Menu Button container
    .Button-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

// Gerneral Layout Classes
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .row{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

@media (min-width: $break-small){
    .row{
        max-width: calc(100vw - 10em);
    }
    .Play-area{
        display: grid;
        place-items: center;
    }
}

@media screen and (min-width: $break-medium){
    .App{    
        .Button-container{
            justify-content: space-between;
        }
    }
}

