// Text Colors
$text-light: rgb(222, 222, 222);
$text-dark: #59556c;

// BG Colors
$bg-dark: #182343;
$paper-bg: #596ff7;
$rock-bg: #dd4060;
$scissors-bg: #f7c959;
$score-bg: #f0f0f0;

$grey-border: #5c6a84;
